services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: recruitment-backend
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    networks:
      - recruitment-network
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        VITE_API_BASE_URL: http://192.168.7.47:5000
    container_name: recruitment-frontend
    ports:
      - "3000:3000"
    networks:
      - recruitment-network
    depends_on:
      - backend
    restart: unless-stopped

networks:
  recruitment-network:
    driver: bridge